<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ese Amadasun - Portfolio</title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact-styles.css') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Ese Amadasun</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.about') }}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.projects') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <header>
    </header>

    <!-- Content Area -->
    <main>
        {% block content %}
        <!-- Flash messages block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
       
        {% endblock %}
    </main>
    
    <aside id="social-media" class="container mt-4">
        <h2 class="mb-4 text-center">Let's Work Together</h2>
        <p>Are you ready to elevate your digital presence? Connect with me for top-tier web design, application development, and data analysis services. Whether you're looking to revamp your website, build a custom app, or harness the power of data, I am here to help. Contact me today and let's create something amazing together!</p>
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up">
                <a href="https://facebook.com/amadasunese" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" alt="Facebook Icon" class="img-fluid mr-2">
                    <span>Facebook</span>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-delay="100">
                <a href="https://twitter.com/amadasunese" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/twitter.png" alt="Twitter Icon" class="img-fluid mr-2">
                    <span>Twitter</span>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-delay="200">
                <a href="https://www.linkedin.com/in/amadasun-ese/" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/linkedin.png" alt="LinkedIn Icon" class="img-fluid mr-2">
                    <span>LinkedIn</span>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-delay="300">
                <a href="https://github.com/amadasunese" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/github.png" alt="GitHub Icon" class="img-fluid mr-2">
                    <span>GitHub</span>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-delay="400">
                <a href="https://wa.me/+2348164659374" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/whatsapp.png" alt="WhatsApp Icon" class="img-fluid mr-2">
                    <span>WhatsApp</span>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-delay="500">
                <a href="{{ url_for('routes.contact') }}" class="btn btn-social btn-border d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/fluency/48/000000/email.png" alt="Email Icon" class="img-fluid mr-2">
                    <span>Email</span>
                </a>
            </div>
        </div>
    </aside>

    
    <!-- Footer Section -->
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2024 Ese Amadasun</p>
        </div>
    </footer>
    
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: false,
            mirror: true
        });
    </script>


    <script>
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function addClassOnScroll() {
            var sections = document.querySelectorAll(".scroll-animation");
            sections.forEach(function (section) {
                if (isElementInViewport(section)) {
                    section.classList.add("in-viewport");
                }
            });
        }

        addClassOnScroll();
        window.addEventListener("scroll", addClassOnScroll);
    </script>

    <script>
        function addHoverEffect() {
            var images = document.querySelectorAll(".image-hover-effect");
            images.forEach(function (image) {
                image.addEventListener("mouseenter", function () {
                    image.style.transform = "scale(1.1)";
                });

                image.addEventListener("mouseleave", function () {
                    image.style.transform = "scale(1)";
                });
            });
        }
        addHoverEffect();

        document.addEventListener("DOMContentLoaded", function() {
            const elements = document.querySelectorAll(".scroll-animation");

            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("animate");
                    } else {
                        entry.target.classList.remove("animate");
                    }
                });
            }, {
                threshold: 0.1
            });

            elements.forEach(element => {
                observer.observe(element);
            });
        });
    
    </script>

</body>
</html>

