{% extends "base.html" %}

{% block content %}
<section id="projects" class="container mt-4" data-aos="fade-up-right">
    <h5 class="project-title">Projects</h5>
    <div class="row scroll-animation">
        <!-- Project 1 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card mb-4">
                <h5 class="card-title">Cooperative Management</h5>
                <img src="/static/images/cooperative2.png" class="card-img-top image-hover-effect" alt="Project 1 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">The Cooperative Society Web Application is designed to support the operations of a cooperative society to management membership and savings effectively.</p>
                    <a href="https://xyzcooperative.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 2 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="card mb-4">
                <h5 class="card-title">Osusu Contribution</h5>
                <img src="/static/images/osusu.png" class="card-img-top image-hover-effect" alt="Project 2 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">Osusu Application is a platform designed to facilitate the management of rotating savings and credit associations (ROSCA), commonly known as Osusu.</p>
                    <a href="https://osusu.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 3 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="card mb-4">
                <h5 class="card-title">Home Income Management</h5>
                <img src="static/images/him.png" class="card-img-top image-hover-effect" alt="Project 3 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">Income and expense tracker web app using Python and Flask. Track income, expenses, set budgets, and view financial summaries.</p>
                    <a href="https://homeincomemanager.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="container mt-4">
    <h5 class="project-title">Projects</h5>
    <div class="row scroll-animation">
        <!-- Project 1 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card mb-4">
                <h5 class="card-title">The Newsstand</h5>
                <img src="/static/images/newsstand.png" class="card-img-top image-hover-effect" alt="Project 1 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">The Nigerian Observer epaper is a web application designed to deliver digital copy of The Nigerian Observer newspaper news efficiently and interactively.</p>
                    <a href="https://enewspaper.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 2 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="card mb-4">
                <h5 class="card-title">LessonPlanAi</h5>
                <img src="/static/images/lessonplanai.png" class="card-img-top image-hover-effect" alt="Project 2 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">LessonPlanAI is an innovative platform that leverages artificial intelligence to assist educators in creating effective lesson plans.</p>
                    <a href="https://lessonplanai.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 3 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="card mb-4">
                <h5 class="card-title">GitHub Stats Web Service</h5>
                <img src="static/images/project1.jpg" class="card-img-top image-hover-effect" alt="Project 3 Image">
                <p class="caption">Python | Flask | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">This is a Python based user-friendly web application that provides insightful statistics and information about GitHub repositories and user activity.</p>
                    <a href="https://amadasun1.pythonanywhere.com" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="container mt-4">
    <h5 class="project-title">Web Applications</h5>
    <div class="row scroll-animation">
        <!-- Project 4 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card mb-4">
                <h5 class="card-title">Project Management Portal</h5>
                <img src="/static/images/pmp.png" class="card-img-top image-hover-effect" alt="Project 4 Image">
                <p class="caption">Python | HTML | CSS </p>
                <div class="card-body">
                    <p class="card-text">This Project Management Portal is a web application designed for managing projects, activities, financial reports, and generating detailed reports.</p>
                    <a href="https://projectportal.pythonanywhere.com//" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 5 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="card mb-4">
                <h5 class="card-title">Therabalms</h5>
                <img src="/static/images/therabalms.png" class="card-img-top image-hover-effect" alt="Project 5 Image">
                <p class="caption">Python | HTML | CSS </p>
                <div class="card-body">
                    <p class="card-text">Therabalms is a platform providing therapy to individuals with mental health disorders, especially anxiety, depression, stress, and mood swings.</p>
                    <a href="https://therabalms.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 6 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="card mb-4">
                <h5 class="card-title">TreasureTrove</h5>
                <img src="/static/images/Treasuretrove.png" class="card-img-top image-hover-effect" alt="Project 6 Image">
                <p class="caption">Python | HTML | CSS</p>
                <div class="card-body">
                    <p class="card-text">This application is designed to provide users with a comprehensive platform for managing their savings, applying for loans, and accessing various financial services.</p>
                    <a href="https://ucheselv.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="projects" class="container mt-4">
    <h5 class="project-title">Model-Driven Applications</h5>
    <div class="row scroll-animation">
        <!-- Project 4 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card mb-4">
                <h5 class="card-title">AFCON Predictor</h5>
                <img src="/static/images/afcon.png" class="card-img-top image-hover-effect" alt="Project 4 Image">
                <p class="caption">Python | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">This application predicts the outcome of Africa Cup of Nations (AFCON) matches using a machine learning model.</p>
                    <a href="https://matchpredictor.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 5 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="card mb-4">
                <h5 class="card-title">SMS Spam Detection</h5>
                <img src="/static/images/classifier.png" class="card-img-top image-hover-effect" alt="Project 5 Image">
                <p class="caption">Python | HTML | CSS </p>
                <div class="card-body">
                    <p class="card-text">This application leverages machine learning model designed to categorize SMS messages as either spam or non-spam accurately.</p>
                    <a href="https://smsclassifier.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 6 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="card mb-4">
                <h5 class="card-title">Email Spam Detection</h5>
                <img src="/static/images/spamdetector.png" class="card-img-top image-hover-effect" alt="Project 6 Image">
                <p class="caption">Python | HTML | CSS | JavaScript</p>
                <div class="card-body">
                    <p class="card-text">This application provides a simple web interface and API endpoint for classifying emails as spam or not spam using a machine learning model.</p>
                    <a href="https://spamdetector.pythonanywhere.com/" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="container mt-4">
    <h5 class="project-title">Data Analysis Projects</h5>
    <div class="row scroll-animation">
        <!-- Project 7 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card mb-4">
                <h5 class="card-title">Survey Report</h5>
                <img src="static/images/data-analysis-project2.jpg" class="card-img-top image-hover-effect" alt="Project 7 Image">
                <p class="caption">Microsoft Excel | Powerpoint</p>
                <div class="card-body">
                    <p class="card-text">This is a survey report on the challenges of therapy sector analysis with Microsoft Excel presented in Powerpoint.</p>
                    <a href="#" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 8 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="card mb-4">
                <h5 class="card-title">Survey Report</h5>
                <img src="static/images/data-analysis-project1.jpg" class="card-img-top image-hover-effect" alt="Project 8 Image">
                <p class="caption">Microsoft Excel | PowerBI </p>
                <div class="card-body">
                    <p class="card-text">This is a survey report on the challenges of therapy sector analysis with PowerBI.</p>
                    <a href="#" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
        <!-- Project 9 -->
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="card mb-4">
                <h5 class="card-title">Supermarket Sales Analysis Project</h5>
                <img src="static/images/data-analysis-project3.jpg" class="card-img-top image-hover-effect" alt="Project 9 Image">
                <p class="caption">Microsoft Excel | PowerBI </p>
                <div class="card-body">
                    <p class="card-text">This is a supermarket sales analysis project done with PowerBI.</p>
                    <a href="#" class="btn btn-primary">Visit the Page</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
